
*{
    background-color: white;
}
.loginscreen{
    width: 400px;
    margin: 100px auto;
    text-align: center;
}

.loginscreen img{
    width: 200px;
    margin-bottom: 20px;
}

.loginscreen input{
    display: flex;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
}
.loginscreen button{
    border-radius: 0;
    width: 100%;
    height: 40px;
    background-color: #0077b5;
    text-align: center;
    border: 0;
    color: #ffff;
    letter-spacing: 2px;
    cursor: pointer;

}

.loginscreen h4 span{
    color: #0077b5;
    cursor: pointer;
}